{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
background:white;
color:#333;
min-height:100vh;
display:flex;
flex-direction:column;
}

/ MAIN PAGE AREA /

main{
flex:1;
display:flex;
justify-content:center;
align-items:center;
padding:80px 20px 120px 20px;
}

/ GAME CONTAINER /

.game-container{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
gap:20px;
max-width:400px;
}

/ LOGO /

.logo{
width:140px;
border-radius:20px;
border:4px solid #E65F5C;
margin-bottom:10px;
}

/ TITLE /

h1{
font-size:48px;
color:#333;
}

.subtitle{
font-size:18px;
margin-bottom:35px;
color:#555;
}

/ BUTTON MENU /

.menu{
display:flex;
flex-direction:column;
gap:20px;
width:280px;
}

/ BUTTON STYLE /

.menu a{
text-decoration:none;
background:#8FA396;
color:white;
padding:18px;
border-radius:10px;
font-weight:bold;
font-size:18px;
text-align:center;
transition:0.25s;
box-shadow:0px 4px 10px rgba(0,0,0,0.15);
}

/ BUTTON HOVER /

.menu a:hover{
background:#7a8f82;
transform:translateY(-2px);
}

/ FOOTER /

footer{
text-align:center;
padding:25px;
font-size:14px;
color:#666;
border-top:1px solid #eee;
}

/ MOBILE */

@media (max-width:768px){

.logo{
width:110px;
}

h1{
font-size:36px;
}

.menu{
width:230px;
}

}
